body{
	background:linear-gradient(rgba(230,230,230,0.5),transparent);
  	background-color:rgb(250,250,250);
}

.header {
	 color: "#333";
	 font-family: "Arial";
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@media (max-width: 770px)
{
	.container{
		margin: 0 10%;
	}

	.header{
		font-size: 150%;
	}
}